* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  background-color: #eeeff1;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}

h1 {
  margin: 20px 0 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 500;
}

.btn {
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  padding: 16px 25px 12px;
  border-radius: 6px;
}

.btn:hover {
  background-color: #32343a;
  color: #fff;
}

/* header */

.header {
  position: sticky;
  top: 0;
  width: 100%;
}

.navigation {
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.nav-band {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-band .nav-logo {
  position: relative;
  width: 35px;
  height: 35px;
}

.nav-band .nav-logo:hover .logo-img1 {
  display: block;
  width: 35px;
  height: 35px;
}

.nav-band .nav-logo:hover .logo-img2 {
  display: none;
  width: 35px;
  height: 35px;
}

.nav-band .nav-logo .logo-img1 {
  display: none;
}

.logo-img1,
.logo-img2 {
  position: absolute;
  width: 35px;
  height: 35px;
}

.text-band {
  position: relative;
  top: 2px;
  display: inline-block;
  padding-left: 15px;
  color: #000;
  font-weight: 500;
}

.nav-wrapper {
  display: flex;
  margin-right: -20px;
  cursor: pointer;
  align-items: center;
}

.nav-wrapper .nav-link {
  margin-right: 30px;
  padding: 9px 0;
  opacity: 1;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0;
}

.nav-wrapper .nav-link:hover {
  opacity: 0.9;
  color: #32343a;
}

/* main */

section {
  max-width: 100%;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 30px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.about {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 100px 0 140px 0;
}

.about-text .about-img {
  width: 100%;
  margin-bottom: 50px;
  border-radius: 15px;
  -webkit-filter: saturate(100%);
  filter: saturate(100%);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.about-text .title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1a1c20;
  font-size: 80px;
  line-height: 90px;
  font-weight: 500;
  text-transform: none;
}

.paragraph {
  margin-bottom: 50px;
  padding-bottom: 0;
  opacity: 1;
  color: #000;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
}

.paragraph.bigger {
  font-size: 25px;
  line-height: 39px;
}

.skill-layout {
  display: flex;
  align-items: center;
  gap: 30px;
}

.skill-wrap {
  width: 60%;
  padding-right: 60px;
}

.skill-item {
  flex: 1;
}

.service-name-text {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #ced1df;
  border-radius: 8px;
  background-color: #eeeff1;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  opacity: 1;
  color: #000;
  font-size: 16px;
  line-height: 39px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.social {
  margin-bottom: 120px;
}

.social .title {
  padding-top: 30px;
}

.social-wrap {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 40px;
}

.social-wrap .person {
  max-width: 150px;
  padding-top: 20px;
}

.person img {
  border-radius: 50%;
}

.person h5 {
  margin-bottom: 0;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

.paragraph.tes {
  padding-top: 30px;
  margin: 0;
}

.form-wrap {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-bottom: 120px;
  margin-left: 0;
  border: 0 solid #d6d9e7;
  border-radius: 14px;
  /* background-color: #000; */
  background-image: none;
}

.form-layout {
  display: flex;
  justify-content: space-between;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 80px 60px 60px;
}

.form-layout h3 {
  margin-bottom: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 64px;
  line-height: 88px;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}

.form-block {
  margin: 0 0 15px;
}

.name-email {
  display: flex;
  gap: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.field-label {
  margin-bottom: 5px;
  color: #8f929e;
  letter-spacing: 0;
  text-transform: none;
}

.text-field {
  margin-bottom: 18px;
  padding: 20px;
  border: 1px #e4e4e4;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.5);
  -webkit-transition: border-color 0.4s;
  transition: border-color 0.4s;
  font-size: 15px;
  line-height: 26px;
}

.w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 15px 30px 15px 15px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-flex-container {
  display: flex;
  margin-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link img {
  max-height: 40px;
  min-width: 40px;
  flex: 0 auto;
}

.div-block-8 {
  display: flex;
  align-items: center;
}

.footer-link {
  display: block;
  margin-bottom: 0;
  padding-left: 30px;
  align-self: center;
  color: #8f929e;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.paragraph-small {
  color: #8f929e;
  font-size: 14px;
  line-height: 26px;
}

.fixed {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  padding-right: 30px;
  padding-bottom: 30px;
  flex-direction: column;
}

.linkedin-link {
  position: relative;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
  padding-top: 15px;
}
